.form {
	width: 500px;
}
.select {
	padding: 10px 20px;
	font-family: 'Gotham Pro', sans-serif;
	font-size: 18px;
}

.select option {
	font-size: 18px;
	cursor: pointer;
}

.select:focus {
	outline-color: var(--blueMainD6);
}

.inputBox label {
	display: block;
	margin-bottom: 20px;
}
.inputBox {
	margin-bottom: 30px;
}
.inputBox:last-child {
	margin-bottom: 0;
}
.input,
.textarea {
	width: 100%;
}
.textarea {
	min-height: 100px;
}
.button {
	display: flex;
	justify-content: center;
	position: relative;
	margin-top: 20px;
}
.break {
	height: 20px;
}

@media (max-width: 1023px) {
	.inputBox {
		margin-bottom: 20px;
	}
	.inputBox label {
		line-height: 32px;
	}
}

@media (max-width: 660px) {
	.form {
		width: 100%;
	}
}