.content {
	width: 900px;
}
.smallTitle {
	margin: 0;
	margin-bottom: 20px;
}
.text {
	line-height: 32px;
}

@media (max-width: 1023px) {
	.content {
		width: 600px;
	}
}

@media (max-width: 660px) {
	.content {
		width: 100%;
	}
}