.info {
	padding: 75px 0;
	border-bottom: 1px solid var(--grayE5);
}
.box {
	position: relative;
	padding: 85px 145px;
	width: 100%;
	min-height: 700px;
	border-radius: 15px;
	box-shadow: 0 0 22px 4px rgba(0, 0, 0, 0.1);
}

.raider {
	position: absolute;
	bottom: -40px;
	left: -180px;
}

.blockquote {
	position: relative;
	margin-bottom: 55px;
	max-width: 643px;
	font-size: 32px;
	line-height: 50px;
}

.blockquote::before {
	content: '';
	display: block;
	position: absolute;
	left: -50px;
	top: -3px;
	width: 40px;
	height: 30px;
	background-image: url("../../../static/image/quotes.png");
	background-repeat: no-repeat;
}

.text {
	line-height: 32px;
}

@media (max-width: 1665px) {
	.raider {
		bottom: -40px;
		left: -70px;
		width: 400px;
	}
}

@media (max-width: 1300px) {
	.info {
		padding-top: 65px;
	}
	.box {
		padding: 70px 100px;
		min-height: 600px;
	}
	.raider {
		bottom: -40px;
		left: -70px;
		width: 300px;
	}
	.blockquote {
		margin-bottom: 30px;
		font-size: 26px;
		line-height: 40px;
	}
}

@media (max-width: 930px) {
	.info {
		padding: 40px 0 50px;
	}
	.box {
		padding: 50px;
		min-height: 600px;
	}
	.raider {
		display: none;
	}
	.blockquote {
		margin-left: 20px;
		margin-bottom: 30px;
		font-size: 20px;
		line-height: 40px;
	}
	.text {
		position: relative;
		z-index: 2;
	}
}

@media (max-width: 625px) {
	.box {
		padding: 30px;
	}
	.blockquote {
		font-size: 18px;
		line-height: 28px;
	}
	.blockquote::before {
		left: -27px;
		width: 20px;
		height: 15px;
		background-size: 100% 100%;
	}
}

