.card {
	display: flex;
	align-items: center;
	padding: 30px;
	max-width: 670px;
	border-radius: 10px;
	cursor: pointer;
}
.card svg  {
	margin-right: 30px;
}
.left {
	margin-right: 30px;
}
.name {
	font-weight: 600;
	margin-bottom: 15px;
}
.place,
.owner {
	color: var(--blueMain);
}
.placeText,
.ownerText {
	color: var(--black);
}
.date {
	margin-bottom: 15px;
	font-weight: 600;
}
.dateText {
	font-weight: 400;
}
.separator {
	margin-right: 30px;
	width: 1px;
	height: 70px;
	background-color: var(--blueDark97);
}
.more {
	display: none;
}


.card:hover {
	background-color: var(--blueMainD6);
}
.card:hover svg {
	fill: var(--white);
}
.card:hover p,
.card:hover span{
	color: var(--white);
}

@media (max-width: 700px) {
	.card {
		flex-direction: column;
		margin: 0 auto;
		max-width: 290px;
	}
	.card svg {
		margin-right: 0;
		margin-bottom: 10px;
		width: 50px;
	}
	.separator {
		width: 70px;
		height: 1px;
	}
	.left,
	.separator {
		margin-right: 0;
	}
	.name,
	.place,
	.owner,
	.date {
		text-align: center;
		line-height: 26px;
	}
	.place,
	.separator {
		margin-bottom: 20px;
	}
	.name,
	.date {
		margin-bottom: 10px;
	}
	.more {
		display: block;
		color: var(--blueMain);
		text-decoration: underline;
	}
	.owner {
		margin-bottom: 15px;
	}
}
