.entry {
	display: flex;
	align-items: center;
	cursor: pointer;
}
.entry span {
	margin-right: 15px;
	color: var(--white);
	transition: color .2s ease-in-out;
}
.entry svg {
	transition: fill .2s ease-in-out;
}
.entry:hover span {
	color: var(--blueDark97);
}
.entry:hover svg {
	fill: var(--blueDark97);
}

@media (max-width: 1023px) {
	.entry svg {
		width: 30px;
	}
	.entry span {
		display: inline-block;
		padding: 6px 17px;
		border: 1px solid var(--white);
		border-radius: 10px;
	}
}