.entry {
	display: flex;
	align-items: center;
	cursor: pointer;
}
.entry span {
	margin-right: 15px;
	color: var(--white);
	transition: color .2s ease-in-out;
}
.entry svg {
	transition: fill .2s ease-in-out;
}
.entry:hover span {
	color: var(--blueDark97);
}
.entry:hover svg {
	fill: var(--blueDark97);
}