.list {
	display: flex;
	position: relative;
	z-index: 2;
	margin-bottom: 40px;
}

.item:not(:last-child) {
	margin-right: 7px;
}

.button {
	padding: 15px 20px;
	color: var(--gray99);
	transition: all .2s ease-in-out;
	border-radius: 10px;
}

.button:hover,
.button:focus {
	color: var(--white);
	background-color: var(--blueMainD7);
}

.active {
	color: var(--white);
	border-radius: 10px;
	background-color: var(--blueMainD7);
}
