.content {
	width: 600px;
}
.name {
	margin-bottom: 23px;
	font-size: 26px;
	font-weight: 500;
	line-height: 32px;
	color: var(--blueDark72);
	animation: textAnimate .5s ease-in-out;
}
.region span,
.place span,
.date span,
.tel span {
	color: var(--gray99);
}

.region,
.place {
	line-height: 32px;
	animation: textAnimate .5s ease-in-out;
}
.place {
	margin-bottom: 25px;
}

.smallTitle {
	margin: 0 0 10px;
	font-size: 16px;
	font-weight: 600;
	line-height: 26px;
	animation: textOpacity .5s ease-in-out;
}
.date {
	margin-bottom: 25px;
}
.foto {
	margin-bottom: 15px;
}
.text {
	margin-bottom: 25px;
	line-height: 32px;
	animation: textOpacity .5s ease-in-out;
}
.link {
	color: var(--blueMain);
	line-height: 26px;
}
.link:hover {
	text-decoration: underline;
}

.clicks {
	position: absolute;
	bottom: 25px;
	right: 25px;
	color: var(--grayCC);
}

.separator {
	margin-bottom: 23px;
	margin-left: 2px;
	width: 80px;
	height: 1.5px;
	background-color: var(--blueDark72);
}

@keyframes textAnimate {
	from {
		opacity: 0;
		transform: translateY(-15px);
	}
	to {
		opacity: 1;
		transform: none;
	}
}
@keyframes textOpacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media (max-width: 1023px) {
	.name, .separator {
		margin-bottom: 15px;
	}
	.name {
		font-size: 22px;
	}
	.separator {
		width: 70px;
	}
	.date {
		margin-bottom: 20px;
	}
}

@media (max-width: 660px) {
	.content {
		width: 100%;
	}
	.name {
		font-size: 20px;
	}
	.text {
		margin-bottom: 20px;
	}
}

@media (max-width: 370px) {
	.date span {
		display: block;
		margin-bottom: 10px;
	}
}