.entry {
	position: relative;
	cursor: pointer;
}
.entry span {
	margin-right: 15px;
	color: var(--white);
}

.userSpan {
	display: flex;
	align-items: center;
}

.userSpan span {
	transition: color .2s ease-in-out;
}
.userSpan svg {
	transition: fill .2s ease-in-out;
}

.userSpan:hover span {
	color: var(--blueDark97);
}
.userSpan:hover svg {
	fill: var(--blueDark97);
}
.userSpan:focus {
	outline: 1px solid var(--white);
}

.action {
	position: absolute;
	top: 45px;
	right: 0;
	padding: 10px 0;
	width: 200px;
	background-color: var(--white);
	border-radius: 10px;
	transition: all .3s ease-in-out;
	opacity: 1;
	z-index: 5;
}
.action a {
	display: block;
	padding: 10px 20px;
	color: var(--gray99);
}

.action a:hover {
	background-color: var(--grayE5);
}
.button:hover {
	background-color: var(--grayE5);
}
.button:focus {
	outline: 1px solid var(--blueDark97);
}
.button {
	padding: 10px 0;
	width: 100%;
	color: var(--gray99);
}

@media (max-width: 1023px) {
	.entry svg {
		width: 30px;
	}
	.action {
		width: 180px;
	}
}

@media (max-width: 700px) {
	.action {
		box-shadow: 0 0 22px 4px rgba(0, 0, 0, 0.1);
	}
}