.routeBlock {
	padding: 0 25px;
	display: flex;
	justify-content: space-between;
	transform: translateY(-30px);
}

.eventBlock {
	display: flex;
	padding-top: 20px;
}
.eventBlock > button {
	margin-right: 20px;
}

@media (max-width: 1023px) {
	.routeBlock {
		padding: 10px 0 0;
	}
	.eventBlock {
		padding: 0;
	}
}

@media (max-width: 700px) {
	.eventBlock {
		display: flex;
		justify-content: space-between;
		min-width: 340px;
	}
	.eventBlock > button {
		margin-right: 0;
	}
}

@media (max-width: 370px) {
	.eventBlock {
		min-width: 290px;
	}
}