.list {
	display: flex;
	margin-bottom: 50px;
}
.item:not(:last-child) {
	margin-right: 35px;
}
.button {
	padding: 17px 35px;
	color: var(--blueMain);
	border: 1px solid var(--blueMain);
	border-radius: 10px;
	transition: all .3s ease-in-out;
}
.active,
.button:hover {
	color: var(--white);
	background-color: var(--blueMainD6);
	border-color: var(--blueMainD6);
}
.button:focus {
	color: var(--white);
	background-color: var(--blueMainD6);
	border-color: var(--blueDark97);
}

@media (max-width: 1300px) {
	.button {
		padding: 15px 25px;
		font-size: 16px;
	}
	.item:not(:last-child) {
		margin-right: 20px;
	}
}

@media (max-width: 1023px) {
	.list {
		flex-direction: column;
		align-items: center;
	}
	.item:not(:last-child) {
		margin-right: 0;
		margin-bottom: 15px;
	}
	.button {
		padding: 12px 40px;
		font-size: 16px;
	}
}