.visuallyHidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0)
}

.container {
	min-height: 1021px;
	background-image: url("../../../static/image/hero-fon-1920.webp");
	background-repeat: no-repeat;
}

.logo {
	position: relative;
	left: 50%;
	margin-top: 263px;
	margin-bottom: 30px;
	transform: translateX(-50%);
}
.logoMobile {
	display: none;
}

.text {
	margin: 0 auto;
	margin-bottom: 110px;
	max-width: 640px;
	text-align: center;
	color: var(--white);
	line-height: 32px;
}
.textMobile {
	display: none;
}

.button {
	margin: 0 auto;
	width: 370px;
}

.button button {
	box-shadow: 0 0 32px 13px rgba(5, 5, 5, 0.23);
}

@media (max-width: 1300px) {
	.container {
		min-height: 710px;
		background-image: url("../../../static/image/hero-fon-1024.webp");
	}
	.logo {
		margin-top: 190px;
		width: 650px;
	}
	.text {
		margin-bottom: 60px;
	}
}

@media (max-width: 800px) {
	.logo {
		width: 500px;
	}
}

@media (max-width: 600px) {
	.container {
		padding-top: 170px;
		min-height: 640px;
		background-image: url("../../../static/image/hero-fon-mobile.webp");
		background-size: cover;
	}
	.logo {
		display: none;
	}
	.logoMobile {
		display: block;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		margin-bottom: 40px;
		max-width: 100%;
	}
	.text {
		display: none;
	}
	.textMobile {
		display: block;
		margin: 0 auto 40px;
		max-width: 425px;
		font-size: 14px;
		line-height: 26px;
		text-align: center;
		color: var(--white);
	}
	.button {
		width: 287px;
	}
}
