.content {
	padding: 75px 0 0;
}
.text {
	margin-bottom: 40px;
}
.notRouteText {
	padding-bottom: 50px;
	text-align: center;
	line-height: 28px;
}

.loading {
	padding-bottom: 50px;
}

.error {
	margin-top: 50px;
	text-align: center;
	line-height: 26px;
}

.addRoute, .register {
	margin-left: 7px;
	text-decoration: underline;
	color: var(--blueMain);
}

@media (max-width: 1300px) {
	.content {
		padding: 65px 0 0;
	}
}

@media (max-width: 1023px) {
	.content {
		padding: 40px 0 0;
	}
	.text {
		margin-bottom: 20px;
		line-height: 32px;
	}
}

@media (max-width: 540px) {
	.addRoute {
		display: block;
		margin-left: 0;
	}
}

@media (max-width: 370px) {
	.item {
		max-width: 100%;
	}
}