.contacts {
	position: relative;
	padding: 30px 0 120px;
}
.text {
	margin-bottom: 30px;
	max-width: 644px;
	line-height: 32px;
}
.smallTitle {
	margin-bottom: 40px;
	font-size: 18px;
}
.linkBox {
	display: flex;
	align-items: center;
	padding: 30px;
	max-width: 375px;
	border-radius: 10px;
	box-shadow: 0 0 22px 4px rgba(0, 0, 0, 0.1);
}
.linkBox svg {
	margin-right: 30px;
}
.separator {
	margin-right: 30px;
	width: 2px;
	height: 120px;
	background-color: var(--grayE5);
}
.item:not(:last-child) {
	margin-bottom: 7px;
}
.link {
	color: var(--black);
	transition: color .2s ease-in-out;
}
.link:hover {
	color: var(--blueMain);
}
.decor {
	position: absolute;
	bottom: 0;
	left: 43%;
	width: 500px;
	height: auto;
}
.figure5 {
	position: absolute;
	top: 0px;
	left: 57%;
}

@media (max-width: 1300px) {
	.figure5 {
		top: 130px;
		left: 70%;
		width: 230px;
	}
	.decor {
		width: 400px;
	}
}

@media (max-width: 1023px) {
	.contacts {
		padding-top: 0;
	}
	.text {
		max-width: 55%;
	}
}
@media (max-width: 850px) {
	.figure5 {
		top: 110px;
		left: 60%;
	}
	.decor {
		width: 300px;
	}
}

@media (max-width: 600px) {
	.figure5 {
		top: -90px;
		left: 54%;
		width: 160px;
		z-index: 4;
	}
	.decor {
		width: 250px;
		left: auto;
		right: 10%;
	}
	.text {
		max-width: 100%;
	}
}

@media (max-width: 374px) {
	.figure5 {
		display: none;
	}
}

